@model IEnumerable<ReceptionistViewModel>
@{
    ViewData["Title"] = "Receptionist";
}

<h1> All Receptionists </h1>
<br />
<br />

<a asp-action="Create" asp-controller="Receptionist" class="btn btn-primary"> Create New Receptionist </a>
<br />

@if (Model.Count() > 0)
{
    <table class=" table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(N => N.FirstName)</th>
                <th>@Html.DisplayNameFor(N => N.MiddleName)</th>
                <th>@Html.DisplayNameFor(N => N.LastName)</th>
                <th>@Html.DisplayNameFor(N => N.Email)</th>
                <th>@Html.DisplayNameFor(N => N.Phone)</th>
                <th>@Html.DisplayNameFor(N => N.Gender)</th>
                <th>@Html.DisplayNameFor(N => N.DateOfBirth)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var receptionist in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(R=> receptionist.FirstName)</td>
                    <td>@Html.DisplayFor(R=> receptionist.MiddleName)</td>
                    <td>@Html.DisplayFor(R=> receptionist.LastName)</td>
                    <td>@Html.DisplayFor(R => receptionist.Email)</td>
                    <td>@Html.DisplayFor(R => receptionist.Phone)</td>
                    <td>@Html.DisplayFor(R => receptionist.Gender)</td>
                    <td>@Html.DisplayFor(R => receptionist.DateOfBirth)</td>

                    <partial name="_ButtonsPartial" model="@receptionist.Id"></partial>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>
            There is no Receptionists !
        </h3>
    </div>
}


